.comics{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        display: flex;
        flex-basis: calc(100% / 6);
        justify-content: center;
        .card{
            
            img{
               margin: 0 auto;
            }
            h4{
                max-width: 190px;
            }
        }
    }
}